


<div class="allcards animate__animated animate__bounceInRight">
  <mat-card  class="example-card mt-3 ncontacts">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>

      <h3 *ngIf="numofcontacts == undefined" class="text-center text-white">
        Aun no existen contactos
      </h3>

      <h1 *ngIf="numofcontacts !== null || numofcontacts !== 0" class="text-center text-white">
        {{numofcontacts}}
      </h1>

    </mat-card-content>
    <mat-card-actions>
      <h3 class="text-center text-white">

        {{numofcontacts == undefined ? "" : "Total contactos"}}

      </h3>
    </mat-card-actions>
  </mat-card>
<h3></h3>
  <mat-card  class="example-card mt-3 bday">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <h1 class="text-center text-white"> {{birthdayPeople}} </h1>
    </mat-card-content>
    <mat-card-actions>
      <h3 class="text-center text-white">Happy Birthday today</h3>
    </mat-card-actions>
  </mat-card>

  <mat-card  (click)="redirectTo()" class="mycontacts
   example-card mt-3 contacts">

    <div>
      <i class="fas text-white fa-3x fa-users"></i>
    </div>

    <mat-card-content>
      <h5 class="text-center text-white">Mis Contactos</h5>
    </mat-card-content>

  </mat-card>


</div>


